# Do not version IDE .
.idea

# Do not version config.txt .
config.txt

# Ignore the Environment (.env) file, that contains passwords and connection details.
.env

# Do not version message sent states. 
messageSentStates

# Do not version google drive authentication key. 
service_account_key.json


# Ignore database data, but keep directory itself (by keeping .gitkeep file)
db_data/*
!db_data/.gitkeep


# Do not version api logs. 
logs/api/*
logs/api/dayBased/*
# But keep the api logs directory itself.
!logs/api/.gitkeep
!logs/api/dayBased/
!logs/api/dayBased/.gitkeep

# Do not version check logs. 
logs/check/*
logs/check/dayBased/*
# But keep the check logs directory itself.
!logs/check/.gitkeep
!logs/check/dayBased/
!logs/check/dayBased/.gitkeep